<li class="film-card__item">
    {{#if backdrop_path}}
    <img class="film-card__img" src="https://image.tmdb.org/t/p/w400{{backdrop_path}}"
        alt="poster for film {{film_title}}" />
    {{else}}
    <img class="film-card__img"
        src="https://www.klaviyo.com/wp-content/uploads/2016/09/abstract-background-1024x273.jpg"
        alt="poster for film {{film_title}}" />
    {{/if}}

    <h3 class="film-card__title"><a class="film-card__link" href="#">{{film_title}}</a></h3>
</li>